body {
  font-family: system-ui, sans-serif;
  background: linear-gradient(135deg, #eceff1, #fafafa);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: white;
  border-radius: 24px;
  width: 100%;
  max-width: 360px;
  padding: 24px;
  box-shadow: 0 12px 30px rgba(0,0,0,.2);
}


.settings {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.settings input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.settings button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  background: #4caf50;
  color: white;
}


button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(135deg, #2196f3, #1976d2);
  color: white;
  box-shadow: 0 6px 14px rgba(33,150,243,.4);
}

.scaninfo {
  margin-top: 20px;
  padding: 16px;
  border-radius: 16px;
  background: #f7f7f7;
}

.card {
  margin-top: 20px;
  padding: 16px;
  border-radius: 16px;
  background: #f7f7f7;
  display: none;
}

.label {
  font-size: 12px;
  color: #777;
}

.value {
  font-size: 18px;
  margin-bottom: 10px;
}

.colorBox {
  height: 60px;
  border-radius: 10px;
  margin-top: 8px;
}

.gh-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.links-container {
  display: flex; /* Aktiviert Flexbox */
  gap: 20px; /* Abstand zwischen den Spalten */
}

.lccolumn {
  flex: 1; /* Lässt jede Spalte gleichmäßig wachsen */
  /* Alternativ: flex-basis: 33.33%; */
  text-align: center;
}

.hr-container {
  max-width: 50%;  
  margin: 40px auto;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}
